@model List<string>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Key</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var token in Model)
        {
            <tr>
                <td>@token</td>
            </tr>
        }
    </tbody>
</table>